In [3]:
# Task 1

import pandas as pd
df_activities = pd.read_csv("cardioActivities.csv", parse_dates=["Date"], index_col=["Date"])
df_activities

print(df_activities.sample())

print(df_activities.info())

cols_to_drop = ["Friend's Tagged", "Route Name"]

df_activities.drop(cols_to_drop, axis=1, inplace=True)
df_activities.head(3)

                                              Activity Id     Type Route Name  \
Date
2016-05-06 17:10:00  adb38948-116e-4000-9598-877aa7b718da  Running        NaN

                     Distance (km)  Duration Average Pace  \
Date
2016-05-06 17:10:00          15.52  01:30:35        05:50

                     Average Speed (km/h)  Calories Burned  Climb (m)  \
Date
2016-05-06 17:10:00                 10.28      1073.999999        254

                     Average Heart Rate (bpm)  Friend's Tagged  \
Date
2016-05-06 17:10:00                     142.0              NaN

                                     Notes               GPX File
Date
2016-05-06 17:10:00  TomTom MySports Watch  2016-06-05-171029.gpx
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 508 entries, 2018-11-11 14:05:00 to 2012-08-22 18:53:00
Data columns (total 13 columns):
Activity Id                 508 non-null object
Type                        508 non-null object
Route Name                  1 non-null object
Distance (km)               508 non-null float64
Duration                    508 non-null object
Average Pace                508 non-null object
Average Speed (km/h)        508 non-null float64
Calories Burned             508 non-null float64
Climb (m)                   508 non-null int64
Average Heart Rate (bpm)    294 non-null float64
Friend's Tagged             0 non-null float64
Notes                       231 non-null object
GPX File                    504 non-null object
dtypes: float64(5), int64(1), object(7)
memory usage: 41.7+ KB
None

,Activity Id,Type,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Notes,GPX File
Date,,,,,,,,,,,
2018-11-11 14:05:00,c9627fed-14ac-47a2-bed3-2a2630c63c15,Running,10.44,58:40:00,05:37,10.68,774.0,130,159.0,NaN,2018-11-11-140512.gpx
2018-09-11 15:02:00,be65818d-a801-4847-a43b-2acdf4dc70e7,Running,12.84,01:14:12,05:47,10.39,954.0,168,159.0,NaN,2018-11-09-150235.gpx
2018-04-11 16:05:00,c09b2f92-f855-497c-b624-c196b3ef036c,Running,13.01,01:15:16,05:47,10.37,967.0,171,155.0,NaN,2018-11-04-160500.gpx

In [4]:
# Task 2

# calculating the activity type
counts = df_activities["Type"].value_counts()
print(counts)

# Renaming the " Other " type in "Type " column to " Unicycling "
df_activities["Type"] = df_activities["Type"].replace(["Other"],"Unicycling")
df_activities["Type"].value_counts()

# calculating missing values in our dataset
df_activities.isnull().sum()

#dropping more columns which we don't need
cols_drop = ["Notes", "Activity Id", "Calories Burned", "GPX File"]
df_activities.drop(cols_drop, inplace=True, axis=1)

df_activities

Running    459
Cycling     29
Walking     18
Other        2
Name: Type, dtype: int64

,Type,Distance (km),Duration,Average Pace,Average Speed (km/h),Climb (m),Average Heart Rate (bpm)
Date,,,,,,,
2018-11-11 14:05:00,Running,10.44,58:40:00,05:37,10.68,130,159.0
2018-09-11 15:02:00,Running,12.84,01:14:12,05:47,10.39,168,159.0
2018-04-11 16:05:00,Running,13.01,01:15:16,05:47,10.37,171,155.0
2018-01-11 14:03:00,Running,12.98,01:14:25,05:44,10.47,169,158.0
2018-10-27 17:01:00,Running,13.02,01:12:50,05:36,10.73,170,154.0
...,...,...,...,...,...,...,...
2012-08-28 07:06:00,Walking,1.57,13:39,08:41,6.91,7,NaN
2012-08-24 12:59:00,Walking,1.48,17:56,12:09,4.94,12,NaN
2012-08-24 10:12:00,Walking,1.49,13:43,09:14,6.49,9,NaN
2012-08-24 08:13:00,Running,3.15,16:00,05:05,11.82,17,NaN
2012-08-22 18:53:00,Running,5.69,31:08:00,05:29,10.95,32,NaN

In [5]:
# Task 3

# calculating mean for each activity Type
avg_hr_cycle = df_activities[df_activities["Type"]== "Running"]["Average Heart Rate (bpm)"].mean()
avg_hr_cycle

# filterring the df_cycle value
df_cycle = df_activities[df_activities["Type"]=="Cycling"].copy()
df_cycle

# filling in the missing values
df_cycle["Average Heart Rate (bpm)"].fillna(int(avg_hr_cycle), inplace=True)

#dropping more columns
df_cycle.drop(["Route Name","Friend's Tagged"], inplace=True,axis=1)

# checking for mising values after the filteratio
df_cycle.isnull().sum()

# Similar operations for df_run
avg_hr_run = df_activities[df_activities["Type"]=="Running"]["Average Heart Rate (bpm)"].mean()
df_run = df_activities[df_activities["Type"] == "Running"].copy()
df_run["Average Heart Rate (bpm)"].fillna(int(avg_hr_run), inplace=True)

#dropping unnecessary columns in df_run
df_run.drop(["Route Name", "Friend's Tagged"], inplace=True, axis=1)
df_run.isnull().sum()

KeyError: '[\'Route Name\' "Friend\'s Tagged"] not found in axis'